@charset"UTF-8";
* {
    margin: 0;
    padding: 0;

}
html{height:100%}
body {
    width: 100%;
    height: 100%;
    color: #333;
    background: #dcdbdb;
    font-size: 1em;
    font-family: "Segoe UI", sans-serif;
    line-height: 135%;
}

a {
    color: #a24d4d;
    text-decoration: none;
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
}
a:hover{
    color: #626262;
    text-decoration: none;
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
}
a:active{color:#fafafa}
img{
    max-width:100%;
    height:auto;
    width:auto\9;
}
hr{
    display:block;
    border:0;
    height:1px;
    border-top:1px solid #ccc;
    padding:0;
}

.left {float:left}
.right {float:right}
.clear {clear:both}

/*стиль для копіювання,виділення тексту */
::selection { background:#808080; color:#ffffff }
::-moz-selection {background: #d55e5e; color: #ffffff}

header, footer {
    background-color:#f3f1f1;
    width: 98%;
}
header{
    border-bottom: 2px solid silver;
    padding:1%;
}
#logo{
    font-size:1.7em;
    font-family:Comic Sans MS,sans-serif;
}
.contact {
    font-size: 1.3em;
    font-family: Comic Sans MS,sans-serif;
    margin-left:20px;
}
input[type=text].field {
    border-radius: 5px;
    border: 2px solid silver;
    padding: 5px;
    margin-left: 20px;
}

#menu {
    color: #a24d4d;
    font-family: Comic Sans MS, sans-serif;
    font-size: 1.7em;
}
    #menu hr {
        width:500px;
        max-width:100%;
        margin-top:5px;
        margin-bottom:2%;
    }
#menuHref a {
    padding:5px 10px;
    border-radius:5px;
    margin-bottom:10px;
    color:#626262;
}
    #menuHref a:hover{
        background-color:#ececec;
    }


    /*Основні стилі для сайту*/

#wrepper{
    float:left;
    width:100%;
    margin-top:20px;
}
    #wrepper #articles {
        float:left;
        width:80%;
        margin-left:10%;
    }
        #wrepper #articles article{
            float:left;
            width:31.33333%;
            border:1px solid silver;
            box-sizing:border-box;
            border-radius:5px;
            background-color:#fafafa;
            margin-right:2%;
            min-height:420px;
        }

      #wrepper #articles article img{
          width:100%;
          height:200px;
          border-radius: 5px 5px 0px 0px;
          border-bottom:1px solid silver;
          margin-bottom : 10px;
      }
           #wrepper #articles article h2{
               width:90%;
               margin-left:5%;
               font-weight:normal;
               font-size:1.7em;
               color:#4a4a4a;
           }
           #wrepper #articles article p{
               width:80%;
               margin-left:10px;
               text-indent:1em;
           }
          #wrepper #articles article a{
              padding : 5px;
              background-color:#a24d4d;
              margin-left:5%;
              border-radius:5px;
              color:#fff;
              float :left;
              margin-top:10px;
          }
            #wrepper #articles article a:hover {
                background-color: #a5a5a5;
            }
            
            /*Стилі для сторінки Контакти*/
#Contacts {
    width: 100%;
    float: left;
    background-color: #fafafa;
    border-radius: 40px;
    border: 1px solid silver;
    box-sizing: border-box;
    padding: 2%;
}


      /* Стилі для сторінки про нас */
   
#About_us2 {
    float: left;
    max-width: 60%;
  padding : 3px;
 
}

#About_us {
    width: 45%;
    float: right;
    background-color: #fafafa;
    border-radius: 50px;
    border: 1px solid silver;
    box-sizing: border-box;
    padding: 4%;
}

#About_us_3 {
    width: 45%;
    float: left;
    background-color: #fafafa;
    border-radius: 50px;
    border: 1px solid silver;
    box-sizing: border-box;
    padding: 4%;

}
#About_us_4 {
    float: right;
    max-width: 60%;
    padding: 3px;

}


/* Стилі для форми*/
form {
    width: 60%;
    margin-left: 20%;
    float: left;
}

    form label{
        float:left;
        width:100%;
        margin-bottom:10px;

    }

    form input {
        border-radius: 5px;
        border: 2px solid silver;
        padding: 5px;
        float: left;
        clear: both;
        width: 40%;
        margin-bottom: 10px;
        background-color: #fafafa;
    }
        form input:focus{  border: 2px solid #a24d4d}

    form textarea {
        width: 60%;
        float: left;
        clear: both;
        background-color: #fafafa;
        border: 2px solid silver;
        border-radius: 5px;
        padding: 10px;
        font-size: 1.4em;
    }
    form #send {
        float: left;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
        background-color:#e7bdbd;
        font-size: 1.4em;
    }

    /*Центральний блок для сайту*/
#main_soc_blok {
    width: 100%;
    padding: 2% 0;
    border-bottom: 2px solid silver;
    border-top: 2px solid silver;
    margin: 20px 0px;
    height: 200px;
    background: url(https://assets.turbologo.ru/blog/ru/2019/12/18163124/audi-emblem.png)repeat-x center;
    float: left;
    border-radius: 25px;
}
#main_soc_blok_in{
    text-align:left;
    padding:1%;
    max-width:98%;
}
    #main_soc_blok_in a {
        color: #ffffff;
        padding: 2px 4px;
        border-radius: 20px;
        margin-bottom: 3px;
        float:left;
    }
#main_soc_blok_in a:hover {
    background-color:#524d4d;
}
#modeli{
    margin-left:10px ;
}
#main_soc_blok_on{
    text-align:right;
    padding:1%;
}
.clear {
    color: #fafafa;
}
            /*стилі для футера*/
            
        footer {
          border-top: 2px solid silver;
          margin-top: 10px;
          padding: 1%;
          padding-bottom: 2%;
       }

#page-wrap:after{
    content:"";
    display:block;
}
footer, #page-wrap:after{height:10px}

#page-wrap {
    min-height: 94%;
    margin-bottom: -10px;
    background-color: #dcdbdb;
}




       /* сторінка вхід форма */

#auth_photo {
    float: left;
    padding: 0px;
    margin-top: 30px;
    max-width: 983px;
    min-width: 400px;
    height: 400px;
}

:root {
    --main-text-color: #566F96;
    --button-dimmed: #a24d4d;
    --button-active: #30C598;
}


.page-wrapper {
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 0 auto;
    height: 90vh;
}

select, input {
    font-size: 18px;
    line-height: 24px;
    padding: 0 16px;
}

.form-card {
    max-width: 515px;
    min-width: 350px;
    height: 650px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0px 0px 7px 3px #a24d4d;
    margin-top: 30px;
    margin-right:10px;
   
}

.form-wrapper {
    min-width: 50%;
    padding: 3px;
}


.form-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 120px;
    letter-spacing: 0em;
    text-align: center;
    padding-bottom: 32px;
    min-width: 372px;
}

.form-input {
    width: 280px;
    height: 48px;
    border: 1px solid #CED0DB;
    border-radius: 4px;
}

.form-label {
    padding: 24px 0px 8px 0;
    font-size: 16px;
    line-height: 16px;
}

    .form-label:first-of-type {
        padding-top: 0;
    }


.form-submit-button {
    background-color: var(--button-dimmed);
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 9px 24px;
    width: 190px;
    height: 50px;
    margin-top: 15px;
    font-size: 18px;
}

/*реєстрація форма */
#auth_photo2 {
    float: left;
    padding: 0px;
    margin-top: 30px;
    max-width: 983px;
    min-width: 400px;
    height: 400px;
}

.page-wrapper2 {
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 0 auto;
    height: 90vh;
}
.form-card2 {
    max-width: 515px;
    min-width: 350px;
    height: 638px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0px 0px 7px 3px #a24d4d;
    margin-top: 20px;
    margin-right: 10px;
}
.form-wrapper2 {
    min-width: 50%;
    padding: 9px;
}
.form-title2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    padding-bottom: 32px;
    min-width: 372px;
}